@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
}

/* theme colors */
:root {
  --brown: #6f4e37;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: visible;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

/* Navigation styling */
.navigation {
  position: fixed;
  width: 235px;
  height: 100%;
  background: var(--brown);
  border-left: 10px solid var(--brown);
  transition: 0.5s;
  overflow: hidden;
}

.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--brown);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 77px;
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

.nav-link:hover {
  color: var(--brown);
}

/* Main content styling */
.main {
  position: absolute;
  width: calc(100% - 235px);
  left: 235px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  background: var(--white);
  z-index: 1000;
}

.toggle {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}

/* .search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  font-size: 18px;
  outline: none;
  border: 1px solid var(--black2);
}

.search label ion-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2em;
} */

.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card box styling */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-areas:
    "card-1 card-2 card-3"
    "chart chart chart";
  grid-gap: 40px;
  text-align: center;
  align-items: center;
}

.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  padding: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: var(--white);
}

.cardBox .card .cardName {
  color: var(--white);
  font-size: 1.1em;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 3.5em;
  color: var(--white);
}

/* Individual card styling */
#card-1 {
  grid-area: card-1;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #543310;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#card-2 {
  grid-area: card-2;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #74512d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#card-3 {
  grid-area: card-3;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #af8f6f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Charts container styling */
.charts {
  display: grid;
  grid-template-areas:
    "col-1 col-2"
    "col-3 col-4"
    "col-5 col-6"
    "col-7 col-8";
  grid-gap: 20px;
  grid-area: chart;
  margin: 3em;
}

.charts .chart-a {
  box-shadow: 0 0 0.5em black;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

/* Improved h2 styling */
.titlechart {
  font-size: 1.25em;
  color: var(--brown);
  margin: 20px 0;
  padding: 10px;
  border-bottom: 2px solid var(--grey);
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#col-7 table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-style: transparent;
}

#col-7 th,
#col-7 td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Tables styling */
#col-7 {
  width: 100%;
  /* margin: 0 auto; */
  border-collapse: collapse;
  border: 1px solid #ddd;
}

#col-7 thead,
#col-7 tfoot {
  background-color: #f2f2f2;
}

#col-7 th,
#col-7 td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

#col-7 th {
  background-color: #af8f6f;
  color: white;
}

/* Alternating row colors */
#col-7 tbody tr:nth-child(odd) {
  background-color: #d3d3d3; /* light grey */
}

#col-7 tbody tr:nth-child(even) {
  background-color: white; /* dark grey */
}

#col-7 tbody tr:hover {
  background-color: #f1f1f1;
}

#col-7 tbody tr.selected {
  background-color: #e0e0e0;
}

#col-7 td:focus {
  outline: none;
}

/* Improved Selector styling */
.selector {
  justify-content: center;
  display: flex;
  gap: 30px;
  text-align: center;
  text-wrap: 10px;
  border-radius: 12px;
  background-color: var(--brown);
  width: 750px;
  height: 4.8em;
  margin: auto;
  padding: 1em;
  margin-bottom: 10em;
}

.selector .dropdown {
  flex: 0; /* Distribute available space equally */
}

.selector .dropdown h3 {
  margin-bottom: 5px;
  font-size: 1em;
}

.selector .dropdown select {
  width: 160px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#monthfilter {
  width: 110px;
}

#storefilter {
  width: 140px;
}

#filter-categories {
  width: 200px;
}

.selector span {
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--white);
}

/* .buttons {
  display: flex;
}

.buttons button {
  background-color: #e9ecef;
  border: none;
  padding: 10px 20px;
  margin: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
} */

/* Clear button styling */
.clear-btn {
  padding: 10px 20px;
  margin-top: 12px;
  background-color: #e9ecef;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.clear-btn:hover {
  background-color: #ae0c00;
}

/*DataTable styling */

.titledatasets {
  font-size: 2em;
  color: var(--brown);
  margin: 10px 0;
  padding: 10px;
  border-bottom: 2px solid var(--grey);
  text-align: center;
}

.Table {
  width: 90%;
  font-size: 14px bold;
  background-color: white;
  padding: 0.75em;
  margin: 0 3em 0 3em;
  border-radius: 2em;
  /* box-shadow: rgba(69, 76, 94, 0.08) 0px 0px 34px -1px;  */
  box-shadow: -1px 8px 16px 0px rgba(0, 0, 0, 0.49);
}

dt-search {
  font-size: 100px;
}

.Table thead,
.Table tfoot {
  background-color: #f2f2f2;
}

.Table th,
.Table td {
  padding: 10px;
  justify-content: left;
  border: 1px solid #ddd;
}

.Table th {
  background-color: #af8f6f;
  color: white;
}

/* Alternating Datables row colors */
.Table tbody tr:nth-child(odd) {
  background-color: #d3d3d3;
}

.Table tbody tr:nth-child(even) {
  background-color: white;
}

.Table tbody tr:hover {
  background-color: #f1f1f1;
}

.Table tbody tr.selected {
  background-color: #e0e0e0;
}

.Table td:focus {
  outline: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 80px;
  background-color: var(--brown);
  transition: all 0.3s ease;
  margin-left: auto;
  margin-top: auto;
  font-weight: 600;
  color: var(--white);
}

/* Team Section */
.team {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(204, 204, 204, 1) 58%,
    rgba(111, 78, 55, 1) 90%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
}
.team-content {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
.team-content img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
}
.center h1 {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  background-color: #6f4e37;
  border-radius: 10px;
  box-shadow: 0 0 1px;
  padding: 0.2em;
}
.box {
  padding: 16px;
  background: #4a291f;
  border-radius: 15px;
  transition: all 0.38s ease;
}
.box h3 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 8px;
}
.box h5 {
  font-size: 14px;
  font-weight: 400;
  color: #b7b4bb;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

/* Responsive Adjustment */
@media (min-width: 900px) and (max-width: 1200px) {
  .cardBox {
    grid-template-areas:
      "card-1"
      "card-2"
      "card-3"
      "chart";
  }

  .charts {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "col-1 col-1"
      "col-2 col-2"
      "col-3 col-3"
      "col-4 col-4"
      "col-5 col-5"
      "col-6 col-6"
      "col-7 col-7";
    gap: 2em;
    font-size: 12px;
  }
  .team {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .team-content {
    margin: 0 0em 0 0em;
  }
  .team-content img {
    width: 95%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  .box {
    margin: 0 0.5em 0 0.5em;
  }
  .team h3 {
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .cardBox {
    grid-template-areas:
      "card-1"
      "card-2"
      "card-3"
      "chart";
  }

  .topbar {
    display: none;
  }

  .content {
    margin-left: 55px;
  }

  .charts {
    grid-template-areas:
      "col-1"
      "col-2"
      "col-3"
      "col-4"
      "col-5"
      "col-6"
      "col-7";
    gap: 1em;
    font-size: 10px;
  }
  canvas {
    width:  90%;
    height: 90%;
  }
  .team {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    
  }
  .team h1 {font-size: 10px;}
  .team-content {
    margin: 0 0em 0 0em;
  }
  .team-content img {
    width: 95%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
  }
  .box {
    margin: 0 0.5em 0 0.5em;
  }
  .team h3 {
    font-size: 13px;
  }
}